.ProjectsHeader {
	text-align: center;
	margin-top: 10px;
}

.ProjectCards{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-list {
	padding: 1rem 4rem;
	list-style: none;
}

.card-container {
	display: flex;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(56, 125, 255, 0.15);
	margin-bottom: 30px;
}

.card-image {
	border-radius: 10px 10px 0px 0px;
	width: 100%;
}

.card-body {
	text-decoration: none;
}

.card-title {
	color:rgba(27,27,28,1);
	font-size: 1rem;
	padding: 1rem;
	text-align: center;
}

.card-image-container {
	position: relative;
}

.tag-list {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;

}

.tag-container {
	margin-right: 3px;
	margin-bottom: 3px;
}

.tag-text {
	color: white;
	font-size: .75rem;
	padding: 4px;
}

.tag-wrapper {
	border-radius: 5px 5px 0px 0px;
}

.js {
	background: red;
}

.python {
	background: green;
}

.react {
	background: blue;
}

.cSharp {
	background: purple;
}