.ProjectsHeader {
	text-align: center;
	margin-top: 10px;
}

.ProjectCards{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-list {
	padding: 1rem 4rem;
	list-style: none;
}

.card-container {
	display: flex;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(56, 125, 255, 0.15);
	margin-bottom: 30px;
}

.card-image {
	border-radius: 10px 10px 0px 0px;
	width: 100%;
}

.card-title {
	font-size: 1rem;
	padding: 1rem;
	text-align: center;
}