.ProjectsHeader {
	text-align: center;
	margin-top: 20px;
}

.ProjectCards {
	margin-top: 10px;
	justify-content: center;
	align-items: center;
	display: flex;
}

.card-list {
	width: 80%;
	padding: 1rem 4rem;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 5%;
	list-style: none;
}

.card-container {
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(56, 125, 255, 0.15);
	margin-bottom: 30px;
}

.card-image {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 9px;
}

.card-body {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	position: relative;
}

.card-title {
	color:white;
	font-size: 1.2rem;
	padding: 1rem 1.2rem;
	width: 10em;	
	text-align: center;
}

.card-blurb {
	width: 95%;
}

.card-image-container {
	height: 100%;
	transition: all 0.3s ease-out;
}

.card-image-container:hover {
	opacity: 0;
}

.card-icon {
	margin-top: 10px;
}

.card-hover-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(79,79,85,1) 0%, rgba(27,27,28,1) 10%,rgba(27,27,28,1) 90%, rgba(79,79,85,1) 100%);
	border-radius: 10px;
	text-align: center;
	color: white;
}

.tag-list {
	list-style: none;
	position: absolute;
	bottom: 0;
	right: 5px;
	display: flex;
}

.tag-container {
	margin-right: 5px;
}

.tag-text {
	color: white;
	font-size: .75rem;
	padding: 4px;
}

.tag-wrapper {
	border-radius: 5px 5px 0px 0px;
}

.js {
	background: red;
}

.python {
	background: green;
}

.react {
	background: blue;
}

.cSharp {
	background: purple;
}

.mini {
	background: black;
}

@media screen and (max-width: 960px) {
	.card-list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.card-image {
		height: 100%;
	}

	.ProjectsHeader {
		margin-top: 10px;
	}
}