* {
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
  box-sizing: content-box;
}

.App {
  position: relative;
  min-height: 93vh;
  padding-bottom: 7vh;
}

.contact-page-container {
  background: url('./components/Background-Images/Lake-View.jpg');
  background-size: cover;
  min-height: calc(93vh - 60px);
}

@media screen and (max-width: 960px) {
  .App {
    min-height: 90vh;
    padding-bottom: 10vh;
  }
}