* {
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
  box-sizing: content-box;
}

.App {
  position: relative;
  min-height: 93vh;
  padding-bottom: 7vh;
}

@media screen and (max-width: 960px) {
  .App {
    min-height: 90vh;
    padding-bottom: 10vh;
  }
}